<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Doctor</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Top Bar -->
<div class="dashboard-header">
   <h1>Hospital Management System</h1>
</div>

<!-- Main Content -->
<div class="content-wrapper">

    <!-- Heading -->
    <div >
        <h1>Find Suitable Doctor</h1>
        <p>Search doctors by location and specialty</p>
    </div>

    <!-- Search Box -->
    <div class="menu-container">

        <form th:action="@{/admin/find-doctor}" method="get">

            <div class="form-group">
                <label>Select Location</label>
                <select name="location">
                    <option value="">-- Select State --</option>

                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>

                    <!-- Union Territories -->
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Ladakh">Ladakh</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                </select>
            </div>

            <div class="form-group">
                <label>Select Specialty</label>
                <select name="specialty">
                    <option value="">-- Select State --</option>
                    <option value="Orthopedic">Orthopedic</option>
                    <option value="Neurologist">Neurologist</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Dermatologist">Dermatologist</option>
                    <option value="Pediatrician">Pediatrician</option>
                    <option value="General Physician">General Physician</option>
                    <option value="Neurologist">Neurologist</option>
                </select>
            </div>

            <button type="submit" >Find Doctor</button>

        </form>

    </div>

    <!-- Doctor Results -->
    <div class="form-container" th:if="${doctors}">
        <table class="results-table">

            <thead>
            <tr>
                <th>Name</th>
                <th>qualification</th>
                <th>experience</th>
                <th>speciality</th>
                <th>state</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.qualification}"></td>
                <td th:text="${doctor.experience}"></td>
                <td th:text="${doctor.speciality}"></td>
                <td th:text="${doctor.state}"></td>
                <td>
                    <a th:href="@{/admin/book-appointment/{id}(id=${doctor.id})}"
                       class="btn">Book Appointment</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div style="text-align:center; margin-top:30px;">
        <a th:href="@{/admin/dashboard}" class="btn" style="width:200px; display:inline-block;">
            Go To Dashboard
        </a>
    </div>

    <!-- Logout -->
    <div style="text-align:center; margin-top:30px;">
        <a th:href="@{/logout}" class="btn" style="width:200px; display:inline-block;">
            Logout
        </a>
    </div>

</div>

</body>
</html>
