<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Medical Report</title>
</head>

<body>

<h2>Upload Medical Report</h2>

<!-- Success Message -->
<div th:if="${successMessage}" style="color:green;">
    <p th:text="${successMessage}"></p>
</div>

<!-- Error Message -->
<div th:if="${errorMessage}" style="color:red;">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/admin/upload-report}" method="post" enctype="multipart/form-data">

    <label>Patient ID:</label>
    <input type="text" name="patientId" required>

    <br><br>

    <label>Select Medical Report:</label>
    <input type="file" name="file" required>

    <br><br>

    <button type="submit">Upload Report</button>

</form>

</body>
</html>